<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/layout.css">
  </head>
  <body>
    <div id="header-wrap">
      <header>
        <div id="left-header">
          <a href="/"><img src="/img/inform-logo.png" alt="Inform"></a>
          {{#if session.user}}
            <select id="header-select">
              <option value="select-feed">Select Feed</option>
            </select>
          {{/if}}
        </div>
        <nav>
          <span id="menu-icon">&#9776;</span>
          <ul id="menu">
            {{#if session.user}}
              <li><a href="/{{session.user}}">Profile</a></li>
              <li><a href="/{{session.user}}/feeds/new">New Feed</a></li>
              <li><a href="/{{session.user}}/feeds">Feeds</a></li>
              <li><a href="/{{session.user}}/edit">Edit Account</a></li>
              <li><a href="/logout">Logout</a></li>
            {{else}}
              <li><a href="/">Login</a></li>
              <li><a href="/new">Signup</a></li>
            {{/if}}
          </ul>
        </nav>
      </header>
    </div>

    <div id="content-wrap">
      {{#if flashAlert}}
        <div class="flash-alert">
          <p>
            {{flashAlert}}
          </p>
        </div>
      {{/if}}
      <section>
        {{{body}}}
      </section>
    </div>


    <!-- scripts -->
    {{#if session.user}}
      <script src="/js/feed-selector.js"></script>
    {{/if}}
    <script src="/js/menu.js"></script>
  </body>
</html>
