<h2>{{title}}</h2>

<form action="/{{userId}}/feeds/{{feed._id}}/edit" method="post">
  <input type="hidden" name="_method" value="put">
  <div class="input-block">
    <label for="title">Title</label>
    <input type="text" name="title" value="{{feed.title}}">
  </div>
  <div class="submit-block">
    <input type="submit" value="Update Feed">
  </div>
</form>

<form class="delete-form" onsubmit="return confirm('Are you sure you want to delete this feed?')" action="/{{userId}}/feeds/{{feed._id}}" method="post" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Feed">
</form>

<h2>Add Source</h2>

<form action="/{{userId}}/feeds/{{feed._id}}/sources/new" method="post">
  <div class="input-block">
    <label for="name">Name</label>
    <input type="text" name="name">
  </div>
  <div class="input-block">
    <label for="type">Type</label>
    <select name="type">
      <option>Facebook</option>
    </select>
  </div>
  <div class="input-block">
    <label for="value">Value</label>
    <input type="text" name="value">
  </div>
  <div class="submit-block">
    <input type="submit" value="Add Source">
  </div>
</form>
<h2>Sources</h2>
<ul>
  {{#each feed.sources}}
    <h4><a href="/{{../userId}}/feeds/{{../feed._id}}/sources/{{_id}}">{{name}}</a></h4>
    <li><a class="edit-button" href="/{{../userId}}/feeds/{{../feed._id}}/sources/{{_id}}/edit">Edit</a></li>
    <li>
      <form onsubmit="return confirm('Are you sure you want to delete this feed?')" action="/{{../userId}}/feeds/{{../feed._id}}/sources/{{_id}}" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" class="delete-button" value="Delete Source">
      </form>
    </li>
  {{/each}}
</ul>
<a href="/{{userId}}/feeds/{{feed._id}}" class="edit-button">Back to Feed</a>
