<div class="content-part">
  <h2>{{title}}</h2>
  <ul>
    {{#each feeds}}
    <li class="listed-source">
      <h4><a href="/users/{{../userId}}/feeds/{{_id}}">{{title}}</a></h4>
      <a href="/users/{{../userId}}/feeds/{{_id}}/edit">Feed Settings</a>
    </li>
    {{/each}}
  </ul>
</div>
