<div class="content-part">
  <h2>{{title}}</h2>

  <form action="/users/{{userId}}/feeds/{{feed._id}}/sources/{{source._id}}/edit" method="post">
    <input type="hidden" name="_method" value="put">
    <div class="input-block">
      <label for="value">Edit Name</label>
      <input type="text" name="name" value="{{source.name}}" placeholder="name">
    </div>
    <div class="input-block">
      <label for="type">Edit Value</label>
      <input type="text" name="value" value="{{source.value}}" placeholder="value">
    </div>
    <div class="input-block">
      <label for="type">Feed Type</label>
      <select name="type">
        <option value="facebook">Facebook</option>
      </select>
    </div>
    <div class="submit-block">
      <input type="submit" value="Update Source">
    </div>
  </form>
</div>
