<div class="content-part">
  <h2>{{title}}</h2>

  <form action="/users/{{user._id}}/edit" method="post">
    <input type="hidden" name="_method" value="put">
    <div class="input-block">
      <label for="email">Edit Email</label>
      <input type="email" name="email" value="{{user.email}}">
    </div>
    <div class="input-block">
      <label for="defaultFeed">Set Default Feed</label>
      <select name="defaultFeed" id="defaultFeed" value="{{user.defaultFeed}}">
        <option value="select-feed">Select Feed</option>
        {{#each user.feeds}}
          <option value={{_id}}>{{title}}</option>
        {{/each}}
      </select>
    </div>
    <div class="input-block">
      <label for="password">Password <small>(Leave blank to keep the same)</small></label>
      <input type="password" name="password">
    </div>
    <div class="input-block">
      <label for="confirmation">Password Confirmation</label>
      <input type="password" name="confirmation">
    </div>
    <div class="submit-block">
      <input type="submit" value="Update Account">
    </div>
  </form>
</div>

<script>
  (function() {
    document.getElementById('defaultFeed').value = '{{user.defaultFeed}}';
  })();
</script>
